In [58]:
import pandas as pd
import numpy as np

In [59]:
df1 = pd.read_csv('data.csv')
df2 = pd.read_csv('data - Copy.csv')

In [60]:
# ['Unnamed: 0', 'URL', 'title', 'date', 'source', 'article', '索引号', 
# ' 发文机关', ' 标题', ' 发文字号', ' 分类', ' 成文日期', ' 发布日期']
df1 = df1.loc[:, ['URL', 'title', 'date', 'source', 'article', '索引号', ' 发文字号', ' 分类']]

In [61]:
df1.columns = ['url', 'title', 'date', 'source', 'article', 'indexno', 'doc_no', 'category']
df1.isnull().sum()

url          0
title        0
date         0
source       0
article      0
indexno     40
doc_no      40
category    40
dtype: int64

In [62]:
df2 = df2.loc[
    :, 
    ['URL', 'title', 'date', 'source', ' 索引号', ' 发文字号', ' 分类', '地区']
]

In [63]:
df2.columns = ['url', 'title', 'date', 'source', 'indexno', 'doc_no', 'category', 'region']
df2.isnull().sum()

url          0
title        0
date         0
source       0
indexno     45
doc_no      37
category    33
region       0
dtype: int64

In [64]:
df = pd.DataFrame(columns=['url', 'title', 'date', 'source', 'article', 'indexno', 'doc_no', 'category', 'region'])

In [65]:
df

Empty DataFrame
Columns: [url, title, date, source, indexno, doc_no, category, region]
Index: []